<app-nav></app-nav>

<div class="container">
  <div class="row">
    <div class="col">
  <router-outlet></router-outlet>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col">
<app-footer></app-footer>
    </div>
  </div>

</div>

<!--div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-4 " style="margin-top: 5%;">
      <div class="card">
        <div class="card-header">
          <h3 style="text-align:center">Login</h3>
        </div>
        <div class="card-body">
          <form   (ngSubmit)="onSubmit()" >
          
            <div class="form-group mt-2">
           
              <input type="email" class="form-control" 
                
               placeholder="Enter Email"
            >
               
               <span class="text-danger">
               <small  *ngIf="">Please Enter  Email </small>
               <small *ngIf="">Please Enter Valid Email </small>
              </span>
             
            </div>
            <div class="form-group ">
             
              <input type="password" class="form-control mt-4"
            
              placeholder="Enter Password" 
              
              >
              <span class="text-danger">
              <small  *ngIf="">Please Enter  password</small> 
              <small  *ngIf="">Minimum length must  5 characters.</small> 
          </span>
            </div>
            
            <div class="form-group form-check mt-4">
              <input type="checkbox" class="form-check-input " id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
              <a href="#" style="margin-left: 20%;">Forgot Password</a>
            </div>
            <div class="row justify-content-center">
              <button type="submit"  class="btn btn-primary btn-md my-2" 
              [disabled]= "" 
              >Login</button>
            </div>
            <p>
              Don't Have an Account
              <a href ="register" routerLink="register"> Register here</a>
          </p>
          </form>

        </div>
      </div>
     
      
    </div>
    <div class="col"></div>
  </div>
</div-->

